body {
  font-family: "Roboto", sans-serif;
  padding-left: 2rem;
  background-color: white;
}

.header {
  border: solid 2px chocolate;
  padding-left: 1rem;
  box-shadow: 5px 5px 5px 5px lightcoral;
  border-radius: 1rem;
}

.name {
  margin-top: 0px;
  color: #ed213a;
  margin-bottom: 0px;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

.projects-container {
  border-radius: 1rem;
}

.project-heading {
  margin: 0px;
  margin-top: 1rem;
  color: #799f0c;
  padding-left: 1rem;
}

.head-item {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0.3rem;
  color: #0b486b;
  font-size: 1.5rem;
  margin-top: 0px;
}

.job-title {
  color: #0b486b;
  font-size: 1.5rem;
  margin-top: 0px;
}

.project-name {
  margin-bottom: 0px;
  color: #c31432;
  margin-top: 0px;
  color: #9400d3;
  font-size: 2rem;
}

.project-link {
  font-size: 1.5rem;
  /* background-color: #f8ffae; */
  /* padding-left: 1rem; */
  padding-right: 1rem;
  border-radius: 1rem;
  text-decoration: none;
}

.link {
  text-decoration: none;
}

.project-block {
  padding: 1rem;
  margin-bottom: 1rem;
  border-bottom: solid 1px #ce3175;
}

.details {
  font-size: 1.5rem;
}

.tag {
  font-size: 1.2rem;
  /* background-color: #006b54; */
  /* background-color: #8ee53f; */
  /* background-color: #0b486b; */
  /* background-color: #add100; */
  /* padding: 0.4rem; */
  padding-right: 1rem;
  margin-right: 1rem;
  border-radius: 1rem;
  color: #cf0234;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
  font-style: italic;
}

.highlight {
  background-color: #76cd26;
  padding: 0.2rem;
  padding-right: 2rem;
  color: white;
  font-weight: bold;
}

.preview-link {
  padding: 1rem;
  margin-top: 1rem;
  background-color: #c2e59c;
  color: white;
  text-decoration: none;
  width: max-content;
  border-radius: 1rem;
  font-family: sans-serif;
}

.preview-link > a {
  text-decoration: none;
  color: blue;
  font-size: 1.2rem;
  width: max-content;
  font-weight: 200;
}

.skill {
  border-top: 1rem;
  background-color: #77a1d3;
  padding: 1rem;
  border-radius: 1rem;
  text-align: center;
  font-size: 1.2rem;
}

.skills-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 0.5rem;
  text-align: center;
}
