body {
  font-family: "Roboto", sans-serif;
  padding-left: 2rem;
  background-color: white;
}

.header {
  padding-left: 1rem;
  border-radius: 1rem;
  box-shadow: 5px 5px 5px 5px lightgray;
}

.name {
  margin-top: 0px;
  color: royalblue;
  margin-bottom: 0px;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

.projects-container {
  border-radius: 1rem;
}

.project-heading {
  margin: 0px;
  margin-top: 1rem;
  color: #799f0c;
  padding-left: 1rem;
}

.head-item {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0.3rem;
  color: #0b486b;
  font-size: 1.5rem;
  margin-top: 0px;
}

.job-title {
  color: #0b486b;
  font-size: 1.5rem;
  margin-top: 0px;
}

.project-name {
  margin-bottom: 0px;
  color: #c31432;
  margin-top: 0px;
  color: #9400d3;
  font-size: 2rem;
}

.project-link {
  font-size: 1.5rem;
  /* background-color: #f8ffae; */
  /* padding-left: 1rem; */
  padding-right: 1rem;
  border-radius: 1rem;
  text-decoration: none;
}

.link {
  text-decoration: none;
}

.project-block {
  padding: 1rem;
  margin-bottom: 1rem;
  /* border-bottom: solid 1px #ce3175; */
  box-shadow: 5px 5px 5px 5px lightgray;

}

.details {
  font-size: 1.5rem;
  color: darkslategray;
}

.tag {
  font-size: 1.2rem;
  /* background-color: #006b54; */
  /* background-color: #8ee53f; */
  /* background-color: #0b486b; */
  /* background-color: #add100; */
  /* padding: 0.4rem; */

  background-color: lightcyan;

  padding: 0.5rem;
  margin-right: 1rem;
  border-radius: 1rem;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
  font-style: italic;
}

.highlight {
  background-color: #76cd26;
  padding: 0.2rem;
  padding-right: 2rem;
  color: white;
  font-weight: bold;
}

.preview-link {
  padding: 1rem;
  margin-top: 1rem;
  background-color:lightgray;
  color: white;
  text-decoration: none;
  width: max-content;
  border-radius: 1rem;
  font-family: sans-serif;
}

.preview-link > a {
  text-decoration: none;
  color: blue;
  font-size: 1rem;
  width: max-content;
  font-weight: 200;
}

.skill {
  border-top: 1rem;
  background-color: #b0c4de66;
  border-radius: 1rem;
  text-align: center;
  font-size: 2rem;
  color: #4a6cad;
  padding-top: 1rem;
  padding-bottom:  1rem;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 0.5rem;
  text-align: center;
}

.links-container {
  padding-left: 1rem;
}

.links-container > h2 {
  color: #799f0c;
  margin-bottom: 0px;
}

.links-container > p {
  padding: 1rem;
}

.links-grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 1rem;
  text-align: center;
}

.links-grid > p {
  background-color: #ff6e7f;
  padding: 1rem;
  font-size: 1.2rem;
  color: white;
  border-radius: 1rem;
}

.links-grid a {
  color: #44071c;
}

.links-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  align-items: center;
}
